@import url("whitespace-reset.css");

html {
  color: #444;
  font: normal 15px "Open Sans", Arial, sans-serif;
  text-align: center;
}
a {
  color: inherit;
  font: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
header {
  text-align: center;
}
.title {
  position: absolute;
  box-sizing: border-box;
  height: 428px;
  top: 55px; right: 0; left: 0;
  margin-bottom: 55px;
  padding-top: 150px;
  background: url("http://2014.jsconfbr.org/images/front.jpg") center no-repeat;
}

h1,
h2 {
  color: #fff;
  font-weight: normal;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 30px;
  text-transform: uppercase;
}
h3 {
  padding: 50px 0 30px 0;
  text-align: center;
  font-size: 48px;
  font-weight: 200;
}
h4 {
  padding: 10px;
  color: #008000;
  font-size: 24px;
}
h5 {
  color: #008000;
  font-size: 18px;
}
h6 {
  font-size: 18px;
  font-weight: 600;
}
nav {
  position: fixed;
  top: 0; right: 0; left: 0;
  box-sizing: border-box;
  border-top: 10px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 3px 0;
  background: #fff;
  text-transform: uppercase;
  line-height: 2.5em;
  z-index: 1;
}
li {
  display: inline-block;
}
nav a {
  padding: 0 25px;
  font-size: 12px;

}

.info_section {
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  padding: 0 30px 60px 30px;
  font-size: 16px;
  text-align: left;
}
.info_section p {
  text-align: left;
}
.info_section p + p {
  margin-top: 1.5em;
}
.info_section p a {
  color: #008000;
  font-weight: bold;
}
#location {
  border: none;
  padding-bottom: 0;
}
.map {
  box-sizing: border-box;
  height: 200px;
  margin: 20px -30px;
  padding: 50px;
  background: #88f;
  font: bold 60px serif;
}

#tickets {
  margin-top: 500px;
  text-align: center;
}
#tickets p {
  text-align: inherit;
}

.btn {
  display: inline-block;
  margin: 10px 0;
  border: none;
  padding: 8px 30px;
  background: #008000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.btn:hover {
  background: #006000;
  text-decoration: none;
}

figure {
  display: inline-block;
}
figcaption {
  height: 130px;
  padding-top: 20px;
}
#speakers {
  text-align: center;
}
#speakers li {
  position: relative;
  width: 280px; height: 378px;
  margin: 5px;
  border: 1px solid #ddd;
  overflow: hidden;
}
#speakers li article {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding: 10px 20px;
  opacity: 0;
  color: #fff;
  font-size: 13px;
}
#speakers article p {
  text-align: center;
}
#speakers li:hover article {
  opacity: .9;
  background: #333; background: rgba(0,0,0,0.9);
}

#sponsors ul {
  padding-bottom: 30px;
}
#sponsors li {
  padding-right: 30px;
}
.gold_sponsors li {
  padding-right: 60px;
}
.silver_sponsors li img {
  width: 240px;
}
.support_sponsors li img {
  width: 180px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 960px;
  border-bottom: 1px solid #eee;
  font-size: 24px;
}
td {
  border-top: 1px solid #eee;
  padding: 10px;
  text-align: left;
}
td:first-of-type {
  width: 100px;
}
td:last-of-type {
  width: 120px;
}
table a img {
  display: block;
  width: 120px; height: auto;
  margin: 0 auto;
}

footer {
  height: 315px;
  padding-bottom: 25px;
  background-size: cover !important;
  background: url("http://2014.jsconfbr.org/images/people.jpg") no-repeat center 23%;
}
.back_accent {
  max-width: 100%;
  background: rgba(0, 0, 0, .7);
}
.team {
  max-width: 960px;
  margin: 0 auto;
  border: none;
  padding: 10px;
  color: #fff;
  text-align: left;
  font-weight: 300;
}
footer h1 {
  padding: 30px;
  font-size: 48px;
  font-weight: 200;
}
footer h2 {
  font-weight: 600;
}

@media (max-width: 655px) {
  nav {
    display: none;
  }
  .title {
    top: 0;
    height: 300px;
    margin-bottom: 0;
    padding-top: 100px;
  }
  h1 {
    font-size: 36px;
  }
  #tickets {
    margin-top: 310px;
  }

  tr {
    display: block;
    position: relative;
    border-top: 1px solid #eee;
    padding-top: 80px;
  }
  td {
    display: block;
    border: none;
  }
  td:first-of-type {
    position: absolute;
    top: 10px; right: 0;
  }
  td:last-of-type {
    position: absolute;
    top: 0; left: 0;
  }
  table a img {
    width: 80px;
  }

  footer h1 {
    font-size: 36px;
  }
}