html {
  background: rgb(0, 0, 0);
}
body {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font: normal 20px "Myriad Pro", Helvetica, Arial, sans-serif;
  color: rgb(69, 73, 77);
  background: rgb(255, 255, 255);
  line-height: 1.4;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Header */
body > header {
  padding: 120px 0 50px 0;
  background: rgb(61, 61, 61);
  color: rgb(255, 255, 255);
  text-align: center;
}
h1 {
  font-size: 68px;
  font-weight: normal;
  letter-spacing: .4em;
  text-transform: uppercase;
}
header figure {
  margin: 40px 0;
}

/* Header Nav */
nav {
  margin: 120px 0 10px 0;
}
nav li {
  display: inline-block;
  padding: 0 18px;
  text-align: center;
}
nav a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-transform: uppercase;
}
nav a:hover {
  color: rgb(245, 220, 57);
}
nav .active {
  color: rgb(80, 195, 175);
}

/* Main Section */
main {
  margin: 40px 0;
  overflow: auto;
}
#column {
  box-sizing: border-box;
  float: left;
  width: 65%;
  padding: 40px 3% 40px 5%;
}
h2 {
  font-size: 36px;
  padding-bottom: 25px;
}
h2 a:hover {
  color: rgb(80, 195, 175);
}
address {
  padding-bottom: 40px;
}
address a {
  color: rgb(80, 195, 175);
}
article {
  box-sizing: border-box;
  margin-bottom: 60px;
}
article p {
  text-align: justify;
}
button {
  width: 85px; height: 30px;
  margin: 30px 30px 0 0;
  border: none;
  border-radius: 15px;
  background: rgb(80, 195, 175);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
button[disabled] {
  background: rgb(210, 213, 218);
  cursor: auto;
}

/* Sidebar */
aside {
  box-sizing: border-box;
  float: right;
  max-width: 230px;
  width: 30%;
  margin: 40px 5% 0 0;
  padding: 35px 37px 35px 37px;
  color: rgb(120, 123, 128);
  background: rgb(246, 247, 248);
  font-size: 14px;
  overflow: hidden;
}
h3 {
  padding-bottom: 25px;
  color: rgb(64, 71, 78);
  font-size: 16px;
  text-transform: uppercase;
}
aside ul {
  margin-bottom: 115px;
}
aside a {
  display: inline-block;
  line-height: 22px;
}
aside a:hover {
  color: rgb(80, 195, 175);
}
aside a:before {
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 24px; height: 12px;
  padding-right: 12px;
  background: transparent url("images/blt_ul.png") 0 0 no-repeat;
}
aside p {
  text-align: justify;
}

/* Comment Sections */
.comment + .comment {
  padding-top: 80px;
}
.comment figure {
  display: inline-block;
  width: 40px; height: 40px;
  border-radius: 100%;
  vertical-align: middle;
  overflow: hidden;
}
.comment figure img {
  width: 50px; height: 50px;
  margin: -5px 0 0 -5px;
}

/* Comment Form */
form label {
  font-weight: bold;
}
input,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%; height: 38px;
  margin-bottom: 20px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  padding: 5px;
}
textarea {
  height: 140px;
  resize: vertical;
  font: inherit;
  font-size: 14px;
}

/* Footer */
footer {
  margin: 0 5%;
  border-top: 1px solid rgb(208, 208, 208);
  padding: 20px 5% 50px 5%;
  font-size: 12px;
}

/* Responsive Styles for smaller-width screens */
@media (max-width: 768px) {
  body > header {
    padding: 30px 0 10px 0;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  figure img {
    width: 90%;
  }
  #column {
    float: none;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  aside {
    float: none;
    width: 100%;
    max-width: none;
    margin: 0;
  }
  aside ul {
    margin: 0;
  }
  .block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}
@media (max-width: 480px) {
  header figure {
    margin: 20px 0;
  }
  nav {
    margin: 70px 0 0 0;
  }
  nav li {
    width: 35%;
    padding: 0;
  }
  aside {
    background: rgb(255, 255, 255);
  }
  .block {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    padding: 20px;
    background: rgb(246, 247, 248);
  }
}
