body {
  color: #333333;
  font: normal 18px Helvetica, Arial, sans-serif;
  margin: 0;
}
h1 {
  font-size: 24px;
  margin-top: 0;
}
h2 {
  font-size: 20px;
  margin-top: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#column {
  margin: 0 140px 0 160px;
}

header {
  background: #2c3e50;
  box-sizing: border-box;
  float: left;
  font-size: 14px;
  height: 100vh;
  margin-left: -160px;
  padding: 15px;
  width: 160px;
}
header a {
  color: #ecf0f1;
  text-decoration: none;
}
header li {
  padding-bottom: 15px;
}
header li a:before {
  background: transparent url("icons_nav.png") 0 0 no-repeat;
  content: "";
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 27px;
}
header li a.home:before {
  background-position: 0 0;
  height: 26px;
}
header li a.home:hover:before {
  background-position: 100% 0;
}
header li a.photos:before {
  background-position:00 -26px;
  height: 20px;
}
header li a.photos:hover:before {
  background-position: 100% -26px;
}
header li a.contact:before {
  background-position: 0 -46px;
  height: 16px;
}
header li a.contact:hover:before {
  background-position: 100% -46px;
}

main {
  box-sizing: border-box;
  float: left;
  padding: 25px;
  width: 100%;
}

footer {
  background: #e74c3c;
  box-sizing: border-box;
  float: right;
  font-size: 12px;
  height: 100vh;
  margin-right: -140px;
  padding: 15px;
  width: 140px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  background: #ffffff;
  color: #2980b9;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  width: 100px;
}
footer a:before {
  background: transparent url("icons_social.png") 0 0 no-repeat;
  background-size: 24px auto;
  content: "";
  display: inline-block;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
  width: 24px;
}
footer a:hover:before {
  background-color: #00bf8f;
}
.twitter:before {
  background-position: 0 0;
}
.facebook:before {
  background-position: 0 -24px;
}
.instagram:before {
  background-position: 0 -48px;
}
